@model ContactsApp.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        @{
            string altTextName = $"{Model.Firstname}'s display picture";
        }
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <img src="@ViewBag.contactPictureToUse" class="img-thumbnail" alt="@altTextName">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyId)
        </dd>
    </dl>
</div>

<div class="container">
    <div class="row">
        <div class="col col-lg-3">
            <img src="@ViewBag.contactPictureToUse" class="img-fluid" alt="@altTextName">
        </div>
        <div class="col col-md-auto">
            2 of 3 (wider)
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3">
            1 of 3
        </div>
        <div class="col col-md-auto">
            2 of 3 (wider)
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
